:root {
    --border_radius: 0px;
}

html {
    scroll-behavior: smooth;
    
}

body {
    padding: 0;
    margin: 0;
}

main {
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 25vw;
    margin-right: 25vw;
    width: 50vw;
    font-family: 'Times New Roman', Times, serif;

    background-color: rgb(255, 255, 255);
}

@media (max-width: 1200px) {
    main {
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 20vw;
        padding-right: 20vw;
        width: 60vw;
    }
}

@media (max-width: 1024px) {
    main {
        padding-top: 2vh;
        padding-bottom: 5vh;
        padding-left: 15vw;
        padding-right: 15vw;
        width: 70vw;
    }
}

@media (max-width: 768px) {
    main {
        padding-top: 2vh;
        padding-bottom: 5vh;
        padding-left: 10vw;
        padding-right: 10vw;
        width: 80vw;
    }
}

@media (max-width: 480px) {
    main {
        padding-top: 2vh;
        padding-bottom: 5vh;
        padding-left: 10vw;
        padding-right: 10vw;
        width: 80vw;
    }
}



p,
nav {
    text-align: left;
    font-size: 1.0em;
}

a {
    text-decoration: none;
    color: indigo;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 4em;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h2,
h3,
h4,
h5 {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-top: -0.5em;
}

h2 {
    font-size: 2em;
    text-align: center;
}


h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
    margin-bottom: -1.0em;
}

h5 {
    font-size: 1em;
}



nav {
    line-height: 150%;
}

nav ul {
    padding-left: 1.2em;
}

hr {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    height: 1px;
    border: 0;
}

img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: var(--border_radius);
}

.bijlage{
    font-style: italic;
    text-align: center;

    background-color: rgb(244, 244, 244);
    outline: 1px  rgb(222, 222, 222) solid;
    border-radius: var(--border_radius);
   
    padding: 0.5em;
}

.bijlage video
{
    aspect-ratio: 2.4;
    border-radius: var(--border_radius);
    background-color: rgb(222, 222, 222);
}

.bijlage iframe {
    margin: 0;
    padding: 0;
    aspect-ratio: 2.4;
    border-radius: var(--border_radius);
    background-color: rgb(161, 161, 161);
    transition-duration: 800ms;
}

.bijlage iframe, .bijlage audio, .bijlage video {
    width: calc(100% - 0.5em);
    margin-bottom: 0.5em;
}