html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

main {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 25vw;
    padding-right: 25vw;
    width: 50vw;

    background-color: rgb(255, 255, 255);
}

img {
    max-width: 100%;
}

@media (max-width: 1200px) {
    main {
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 20vw;
        padding-right: 20vw;
        width: 60vw;
    }
}

@media (max-width: 1024px) {
    main {
        padding-top: 2vh;
        padding-bottom: 5vh;
        padding-left: 15vw;
        padding-right: 15vw;
        width: 70vw;
    }
}

@media (max-width: 768px) {
    main {
        padding-top: 2vh;
        padding-bottom: 5vh;
        padding-left: 10vw;
        padding-right: 10vw;
        width: 80vw;
    }
}

@media (max-width: 480px) {
    main {
        padding-top: 2vh;
        padding-bottom: 5vh;
        padding-left: 10vw;
        padding-right: 10vw;
        width: 80vw;
    }
}



p {}

a {
    text-decoration: none;
    color: indigo;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 4em;
    text-align: center;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    margin-bottom: -0.7em;
}

h4 {
    font-size: 1.2em;
    margin-bottom: -1.0em;
}

h3,
h4 {
    margin: 0;
    padding: 0;
    padding-top: 1em;
}

nav {
    line-height: 150%;
}

nav ul {
    padding-left: 1.2em;
}

hr {
    background-color: black;
    border-radius: 10px;
    height: 1.5px;
    border: 0;
}


.video_bijlage video {
    width: 100%;
}

.audio_bijlage audio {
    width: 100%;
}

.audio_bijlage,
.video_bijlage {
    font-style: italic;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}