html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

main {
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 20vw;
    padding-right: 20vw;

    background-color: rgb(255, 255, 255);
}

@media (max-width: 1200) {
    main {
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 20vw;
        padding-right: 20vw;
    }
}

@media (max-width: 1024px) {
    main {
        padding-top: 2vh;
        padding-bottom: 5vh;
        padding-left: 15vw;
        padding-right: 15vw;
    }
}
@media (max-width: 768px) {
    main {
        padding-top: 2vh;
        padding-bottom: 5vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }
}
@media (max-width: 480px) {
    main {
        padding-top: 2vh;
        padding-bottom: 5vh;
        padding-left: 10vw;
        padding-right: 10vw;
    }
}



p {
   
}

a {
    text-decoration: none;
    color: indigo;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 4em;
    text-align: center;
}
@media (max-width: 768px) {
    h1 {
        font-size: 3em;
    }
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
    margin-bottom: -0.7em;
}

h4 {
    font-size: 1.2em;
    margin-bottom: -1.0em;
}

h3,h4
{
    margin: 0;
    padding: 0;
    padding-top: 1em;
}

nav {
    line-height: 150%;
}

nav ul {
    padding-left: 1.2em;
}

hr {
    background-color: black;
    border-radius: 10px;
    height: 0.1em;
    border: 0;
}

audio {
    padding: 0;
    padding-top: 1em;
    width: 100%;
}

.audio_tekst {
    text-align: center;
}